streamlit
pandas
numpy<1.27
spacy==3.7.2
presidio-analyzer
presidio-anonymizer
google-generativeai
https://github.com/explosion/spacy-models/releases/download/en_core_webs_lg-3.7.0/en_core_web_lg-3.7.0-py3-none-any.whl
